h1{
    color:black;
    background: white;
    padding: 30px;
}

body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
        .w3-bar-block .w3-bar-item {padding:20px}

#box{
    color:blue;
}

.para{
    color: aqua;
    background-color: azure;
}

.presidentDiv {
    height: 300px;
    width: 19%;
    float: left;
    border-style: groove;
}

.presidentImg {
    max-width: 100%;
    max-height: 100%;
}

.dollarDiv {
    height: 150px;
    width: 360px;
    border-style: groove;
}

.dollarImg {
    max-width: 100%;
    max-height: 100%;
}

.level2Grid {
    height: 300px;
    width: 500px;
    margin: auto;
}

.level2Input {
    margin: auto;
    padding-top: 20px;
}

.level2Img {
    max-width: 600px;
    max-height: 600px;
    padding-top: 20px;
    margin: auto
}